# Auto detect text files and perform LF normalization
* text=auto
*.pkl filter=lfs diff=lfs merge=lfs -text
Notebook/data/cache/fastf1_http_cache.sqlite filter=lfs diff=lfs merge=lfs -text
Notebooks/data/cache/fastf1_http_cache.sqlite filter=lfs diff=lfs merge=lfs -text
